<div class="container-fluid main-div">
  <h2>Search patient</h2>

  <div class="row">
    <div class="col-md-4 px-3 py-2">
      <app-search-by [parentData]="message"></app-search-by>
      <!--  (search_bar_set)="setterString=$event"-->
      <!-- {{setterString}} -->
    </div>


    <div class="col-md-8 col-sm-12">
      <div class="container">
        <div class="col-12 mx-auto p-2">

          <app-search-bar (childEvent)="message=$event"></app-search-bar>
          <!-- [setterData]="setterString" -->

        </div>
        <div class="col-12 mx-auto p-2">
          <app-results></app-results>
        </div>
      </div>

    </div>
    <div class="col-12 mx-auto p-2" style="width: 92rem;">
      <app-decision-bar></app-decision-bar>
    </div>
  </div>