@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .card{
        width:17rem;
        padding:13px 2px;
    }
  }
  @media all and (device-width: 320px) and (orientation:portrait) {
#firstNameId,#lastNameId,#charNoId,#address1Id{
    size:8;
}
*{
    font-size: 11px;
}
  }
  .bg{
      background-color: rgb(231, 245, 250);
  }
  .bg-warning{
      background-image: linear-gradient(180deg,rgb(245, 237, 189) 10%,rgb(255, 196, 0) 90%);
  }
  @media all and (device-width: 280px) and (orientation:portrait) {
    *{
        font-size: 9px;
    }
      }